

#logo{
    max-width: 125px;
}
input{
    margin-right: 10%;
    position: absolute;
    width: 500px;
    border-radius: 5%;
}

#slogo{
    max-width: 1%;
    position: relative;
}


#im{
    position: relative;
    border-radius: 5%;
}

.card{
   border-style: none;
   width: 100px;
   height: 250px;
   overflow: hidden;
}

#icon{
    float:left;
    border-radius: 50%;
    width: 18%;
    margin-right: 20px;
}

#time{
    position: absolute;
    padding: auto;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 20%;
    bottom: 60px;
    right: 8px;
    font-size: 1.75vh ;
}

